SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
Create Proc sp_ProductList
as 
begin
Set nocount on 
select A.Product_name,B.Brand_name from [production].[products] A
inner join [production].[brands] B on A.brand_id = b.brand_id
Set nocount off 
End
GO
