SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[sysutility_mi_configuration_internal](
	[configuration_id]  AS ((1)),
	[ucp_instance_name] [sysname] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[mdw_database_name] [sysname] COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
